<a href="https://colab.research.google.com/github/akileshprabhugithub/INTERNSOFTcodefiles/blob/master/SESSION8_pandas1codefile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing and using Pandas (series, dataframe,index)

In [1]:
import pandas 
pandas.__version__

'1.0.5'

In [2]:
import numpy as np
import pandas as pd

series

In [12]:
counts = pd.Series([234,355,456,999])
counts

0    234
1    355
2    456
3    999
dtype: int64

In [13]:
counts.values

array([234, 355, 456, 999])

In [14]:
counts.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
bacteria = pd.Series([356,456,567,890],
    index = ['firmicutes', 'proteobacteria','actinobacteria','bacteroidetes'])
bacteria

firmicutes        356
proteobacteria    456
actinobacteria    567
bacteroidetes     890
dtype: int64

In [18]:
 bikes = pd.Series(['r15','cbr250','rs200','d400'],
index = ['yamaha','honda','pulsar','bajaj'])
bikes

yamaha       r15
honda     cbr250
pulsar     rs200
bajaj       d400
dtype: object

In [19]:
bikes['yamaha']

'r15'

In [20]:
bikes[0]

'r15'

In [28]:
bikes.name = '2wheeler'
bikes.index.name ='motorcycles'
bikes

motorcycles
yamaha       r15
honda     cbr250
pulsar     rs200
bajaj       d400
Name: 2wheeler, dtype: object

In [29]:
np.log(bacteria)

firmicutes        5.874931
proteobacteria    6.122493
actinobacteria    6.340359
bacteroidetes     6.791221
dtype: float64

In [30]:
bacteria[bacteria>500]

actinobacteria    567
bacteroidetes     890
dtype: int64

In [33]:
bikes_dict = {'yamaha':'r15','honda':'cbr250','pulsar':'rs200','ktm':'duke390'}
print(bikes_dict)
pd.Series(bikes_dict)

{'yamaha': 'r15', 'honda': 'cbr250', 'pulsar': 'rs200', 'ktm': 'duke390'}

yamaha        r15
honda      cbr250
pulsar      rs200
ktm       duke390
dtype: object

Dataframe

In [37]:
data = {'book_name':['Wish I Could Tell You','The One You Cannot Have','Will You Still Love Me?','Cosmos'],
        'year' :[2019,2018,2016,2017],
        'author' :['Durjoy Datta','Preeti Shenoy','Ravinder Singh','Carl Sagan']}
print(data)
print(type(data))
pd.DataFrame(data)

{'book_name': ['Wish I Could Tell You', 'The One You Cannot Have', 'Will You Still Love Me?', 'Cosmos'], 'year': [2019, 2018, 2016, 2017], 'author': ['Durjoy Datta', 'Preeti Shenoy', 'Ravinder Singh', 'Carl Sagan']}
<class 'dict'>

                 book_name  year          author
0    Wish I Could Tell You  2019    Durjoy Datta
1  The One You Cannot Have  2018   Preeti Shenoy
2  Will You Still Love Me?  2016  Ravinder Singh
3                   Cosmos  2017      Carl Sagan

In [41]:
df = pd.DataFrame(data,columns=['book_name','author','year'])
df

                 book_name          author  year
0    Wish I Could Tell You    Durjoy Datta  2019
1  The One You Cannot Have   Preeti Shenoy  2018
2  Will You Still Love Me?  Ravinder Singh  2016
3                   Cosmos      Carl Sagan  2017

In [49]:
df['genre'] = ['fiction','romance fiction','romance fiction','fiction']
df

                 book_name          author  year            genre
0    Wish I Could Tell You    Durjoy Datta  2019          fiction
1  The One You Cannot Have   Preeti Shenoy  2018  romance fiction
2  Will You Still Love Me?  Ravinder Singh  2016  romance fiction
3                   Cosmos      Carl Sagan  2017          fiction

In [53]:
df['serie_aligned'] =pd.Series(range(4),index=[0,1,2,3])
df

                 book_name          author  ...            genre serie_aligned
0    Wish I Could Tell You    Durjoy Datta  ...          fiction             0
1  The One You Cannot Have   Preeti Shenoy  ...  romance fiction             1
2  Will You Still Love Me?  Ravinder Singh  ...  romance fiction             2
3                   Cosmos      Carl Sagan  ...          fiction             3

[4 rows x 5 columns]

In [54]:
df.to_dict()

{'author': {0: 'Durjoy Datta',
  1: 'Preeti Shenoy',
  2: 'Ravinder Singh',
  3: 'Carl Sagan'},
 'book_name': {0: 'Wish I Could Tell You',
  1: 'The One You Cannot Have',
  2: 'Will You Still Love Me?',
  3: 'Cosmos'},
 'genre': {0: 'fiction',
  1: 'romance fiction',
  2: 'romance fiction',
  3: 'fiction'},
 'serie_aligned': {0: 0, 1: 1, 2: 2, 3: 3},
 'year': {0: 2019, 1: 2018, 2: 2016, 3: 2017}}

In [55]:
pd.DataFrame(df.to_dict())

                 book_name          author  ...            genre serie_aligned
0    Wish I Could Tell You    Durjoy Datta  ...          fiction             0
1  The One You Cannot Have   Preeti Shenoy  ...  romance fiction             1
2  Will You Still Love Me?  Ravinder Singh  ...  romance fiction             2
3                   Cosmos      Carl Sagan  ...          fiction             3

[4 rows x 5 columns]

In [56]:
data = [{'a':i,'b':10*i} for i in range(6)]
print(data)
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}, {'a': 5, 'b': 50}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40
5  5  50

In [57]:
pd.DataFrame([{'aa':1,'bb':2},{'bb':3,'cc':6}])

    aa  bb   cc
0  1.0   2  NaN
1  NaN   3  6.0