In [2]:
# integers
x = 7
type(x)

int

In [3]:
# float
x = 3.0
type(x)

float

In [4]:
# boolean
b1 = True
b2 = False
type(b1)

bool

In [5]:
# string
name = "i like the structure of this code-along lecture"
type(name)

str

In [6]:
# complex numbers (use `j` to specify the imaginary part)
x = 2.0 - 4.0j
type(x)

complex

In [7]:
x

(2-4j)

In [8]:
print(x.real,x.imag)

2.0 -4.0

In [9]:
# variables
tenth=10
two=2
print(two)
tenth

2

10

In [10]:
# Dynamic Typing

ten=10
ten

10

In [11]:
ten='ten'
ten

'ten'

In [12]:
# Strong Typing

'Day '+'1'   #cannot concatenate different types, i.e in this case string and integer type
             # white-space inside quotes acts as space

'Day 1'

In [13]:
'Day ' + str(1)  #easy conversion of one type to another for concatenation

'Day 1'

In [14]:
# Boolean Evaluation

True and True

True

In [15]:
True or False

True

In [16]:
not True

False

In [17]:
not (False)

True

In [18]:
True is True

True

In [19]:
True is False

False

In [20]:
# 'a' is 'a'       syntax warning ( "is" literal)

'a' =='a'

True

In [21]:
# Branching (if / elif / else)

In [ ]:
i = 5
if i<5:
    print('less than 5')
elif i<10:
    print("less than 10")
else:
    print ("greater than 10")

In [22]:
# lists
mylist = []
mylist

[]

In [23]:
l=list()
l

[]

In [24]:
l=['a','b','c']
print(l)
type(l)

['a', 'b', 'c']

list

In [ ]:
l=['a',6]
l

In [25]:
l2 = list(l)
l2

['a', 'b', 'c']

In [26]:
list('abcdefgh')

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [27]:
l=[1,2]
print(l)
l.append('b')
print(l)
l.append('c')
print(l)
l.insert(1,66)
l

[1, 2]
[1, 2, 'b']
[1, 2, 'b', 'c']

[1, 66, 2, 'b', 'c']

In [28]:
for i in l:
    print(i)

1
66
2
b
c

In [29]:
# For loop

In [30]:
# Program to find the sum of all numbers stored in a list

numbers=[4,3,6,8,1,6,5,9,3]
sum=0
for i in numbers:
    sum += i
print("The sum is", sum)
sum

The sum is 45

45

In [31]:
# for loop with else

digits = [0, 1, 5]
for i in digits:
    print(i)
else:
    print("No items left")

0
1
5
No items left

In [32]:
# While loop

# Program to add natural numbers upto sum=1+2+3+...+n

n=int(input("Enter n: "))
sum=0
i=1
while i <= n:
    sum += i
    i=i+1          #update counter
print("The sum is", sum)

Enter n: 4
The sum is 10

In [33]:
# range() function

print(range(10))

range(0, 10)

In [34]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
print(list(range(2,20,5)))   #(start,stop,step)

[2, 7, 12, 17]

In [36]:
genre = ['pop', 'rock', 'jazz','bass']
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz
I like bass

In [37]:
for val in "AKILESH":
    if val == "I":
        break
    print(val)
print("the end")

A
K
the end

In [40]:
for val in "AKILESH":
    if val == "I":
        continue
    print(val)
print("the end")

A
K
L
E
S
H
the end

In [41]:
name = input('what is your name?\n')
type(name)

what is your name?
akilesh

str

In [42]:
age=int(input("what is your age?"))
print(f'your age is {age}')
type(age)

what is your age?21
your age is 21

int

In [43]:
name = input("what is your name? ")
print ("it was nice talking you " + name + "!")
age = input("enter your age? ")
print("hey, you are already " + age + " years old, " + name + "!")

what is your name? akilesh
it was nice talking you akilesh!
enter your age? 21
hey, you are already 21 years old, akilesh!