<a href="https://colab.research.google.com/github/akileshprabhugithub/INTERNSOFTcodefiles/blob/master/SESSION5codefile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

modules and packages

In [7]:
import math

In [8]:
math.ceil(2.4)

3

In [9]:
math.floor(2.4)

2

exploring built-in modules

In [10]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [11]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(...)
    ceil(x)

    Return the ceiling of x as an Integral.
    This is the smallest integer >= x.

writing modules #two ways to import user-defined modules and packages

In [ ]:
import foo.bar

In [ ]:
from foo import bar

In [ ]:
__init__.py:
__all__ = ["bar"]

 errors and exception handling

In [15]:
print('hello')

hello

 try and except

In [16]:
try:
    f = open('testfile.txt', 'w')
    f.write('exception handling')
except IOError:
    print('error: could not find file or read data')
else:
    print('content successfully written')
    f.close

content successfully written

In [17]:
try:
    f = open('testfile.txt', 'r')
    f.write('checking again')
except IOError:
    print('error: could not find file or read data')
else:
    print('content successfully written')
    f.close

error: could not find file or read data

In [19]:
try:
    f = open('testfile.txt','w')
    f.write("test write this")
finally:
    print('always execute finally code blocks')

always execute finally code blocks

In [31]:
def askint():
    try:
        val = int(input('please enter a number:'))
    except:
        print('oops looks like you didnt enter an integer!')
    finally:
        print('finally executed')
        print(val)

In [32]:
askint()

please enter a number:123
finally executed
123

In [34]:
askint()

please enter a number:super
oops looks like you didnt enter an integer!
finally executed

UnboundLocalError: ignored

In [38]:
def askint():
    try:        
        val = int(input('please enter a number:'))
    except:
        print('oops looks like you didnt enter an integer!')    
        val = int(input('try again- please enter an integer'))
    finally:
        print('finally executed')
        print(val)

In [39]:
askint()

please enter a number:123
finally executed
123

In [41]:
askint()

please enter a number:marvel
oops looks like you didnt enter an integer!
try again- please enter an integer123
finally executed
123

In [43]:
def askint():
    while True:
        try:
            val = int(input('please enter an integer:'))
        except:
            print('oops looks like you didnt enter an integer')
            continue
        else:
            print('yep that is an integer')
            break
        finally:
            print('finally, i executed')
        val

In [44]:
askint()

please enter an integer:afgjj
oops looks like you didnt enter an integer
finally, i executed
please enter an integer:sdgjf
oops looks like you didnt enter an integer
finally, i executed
please enter an integer:sruhft
oops looks like you didnt enter an integer
finally, i executed
please enter an integer:dtgdr
oops looks like you didnt enter an integer
finally, i executed
please enter an integer:1234
yep that is an integer
finally, i executed

 database connectivity and operations using python

In [46]:
#!/user/bin/python
 
import sqlite3
 
db = sqlite3.connect('my_database1.db')
 
db.execute("drop table if exists grades1")
 
db.execute("create table grades1(id int, name text, score int)")
 
db.execute("insert into grades1(id, name, score) values(101, 'john', 99)")
db.execute("insert into grades1(id, name, score) values(102, 'gary', 85)")
db.execute("insert into grades1(id, name, score) values(103, 'cindy', 80)")
db.execute("insert into grades1(id, name, score) values(104, 'ash', 95)")
db.execute("insert into grades1(id, name, score) values(105, 'brock', 88)")

In [47]:
db.commit()

In [49]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-"*60)

(101, 'john', 99)
(102, 'gary', 85)
(103, 'cindy', 80)
(104, 'ash', 95)
(105, 'brock', 88)
------------------------------------------------------------

In [50]:
results = db.execute("select * from grades1 where name = 'ash' ")
for row in results:
    print(row)
print('-' *60)

(104, 'ash', 95)
------------------------------------------------------------

In [56]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print('-' *60)

(101, 'john', 99)
(104, 'ash', 95)
------------------------------------------------------------

In [61]:
 results = db.execute("select name,score from grades1 order by score desc")
for row in results:
    print(row)
print("-"*60)

('john', 99)
('ash', 95)
('brock', 88)
('gary', 85)
('cindy', 80)
------------------------------------------------------------

In [62]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-"*60)

('cindy', 80)
('gary', 85)
('brock', 88)
('ash', 95)
('john', 99)
------------------------------------------------------------

In [64]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('cindy', 80)
('gary', 85)
('brock', 88)
('ash', 95)
('john', 99)